USE [DISCIPLINE_RULE_ENGINE]
GO
/****** Object:  StoredProcedure [dbo].[USP_EVALUATE_DAY]    Script Date: 17-07-2026 14:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_EVALUATE_DAY]
(
    @DAYID INT,
    @USERID INT,
    @TRIGGEREDBY NVARCHAR(50),
    @EVALUATIONSTART DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DECLARE @STARTTIME DATETIME2 = SYSUTCDATETIME();
        DECLARE @APICALLSTART DATETIME2;
        DECLARE @APICALLDURATION INT = 0;
        
        DECLARE @DAYDATE DATE;
        DECLARE @DAYNUMBER INT;
        DECLARE @MODE NVARCHAR(20);
        DECLARE @STATUS NVARCHAR(20);
        DECLARE @RESULT NVARCHAR(10);
        DECLARE @TOTALREQUIRED INT;
        DECLARE @COMPLETED INT;
        DECLARE @COMPLETIONPERCENTAGE DECIMAL(5,2);
        DECLARE @RULESETVERSION INT;
        DECLARE @MISSINGRULEIDS NVARCHAR(MAX);
        DECLARE @MISSEDDOMAINS NVARCHAR(200);
        DECLARE @FAILUREREASON NVARCHAR(500);
        
        DECLARE @PREVIOUSRESULT NVARCHAR(10);
        DECLARE @CURRENTSTREAK INT;
        DECLARE @LONGESTSTREAK INT;
        DECLARE @CONSECUTIVEFAILURES INT;
        DECLARE @ISNEWRECORD BIT = 0;
        DECLARE @PREVIOUSSTREAK INT;
        
        DECLARE @TOTALDAYS INT;
        DECLARE @TOTALPASSDAYS INT;
        DECLARE @TOTALFAILDAYS INT;
        DECLARE @SUCCESSRATE DECIMAL(5,2);
        
        DECLARE @MINIMUMMODETRIGGERED BIT = 0;
        DECLARE @MINIMUMMODEREASON NVARCHAR(500);
        DECLARE @RECOVERYMODETRIGGERED BIT = 0;
        DECLARE @MODECHANGEID INT;
        
        DECLARE @EVALUATIONID INT;
        DECLARE @EVALUATEDAT DATETIME2 = SYSUTCDATETIME();
        
        --================================================
        -- VALIDATION 1: Check if already evaluated
        --================================================
        IF EXISTS (SELECT 1 FROM DAYEVALUATIONAUDIT WHERE DAYID = @DAYID)
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'ALREADY_EVALUATED' AS ErrorType,
                'Day has already been evaluated' AS ErrorMessage,
                EVALUATIONID AS ExistingEvaluationId,
                EVALUATEDAT AS EvaluatedAt,
                RESULT AS Result
            FROM DAYEVALUATIONAUDIT
            WHERE DAYID = @DAYID;
            RETURN;
        END
        
        --================================================
        -- STEP 1: Get day summary from Daily Execution Service
        --================================================
        SET @APICALLSTART = SYSUTCDATETIME();
        
        SELECT 
            @DAYDATE = DAYDATE,
            @DAYNUMBER = DAYNUMBER,
            @MODE = MODE,
            @STATUS = STATUS,
            @RESULT = RESULT,
            @TOTALREQUIRED = TOTALRULES,
            @COMPLETED = COMPLETEDRULES,
            @RULESETVERSION = VERSIONNUMBER
        FROM DAILY_EXECUTION.dbo.USERDAY
        WHERE DAYID = @DAYID
          AND USERID = @USERID;
        
        SET @APICALLDURATION = DATEDIFF(MILLISECOND, @APICALLSTART, SYSUTCDATETIME());
        
        --================================================
        -- VALIDATION 2: Check if day exists
        --================================================
        IF @DAYDATE IS NULL
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'DAY_NOT_FOUND' AS ErrorType,
                'Day not found' AS ErrorMessage,
                @DAYID AS DayId;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Check if day is closed
        --================================================
        IF @STATUS != 'CLOSED'
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'DAY_NOT_CLOSED' AS ErrorType,
                'Cannot evaluate day that is not closed' AS ErrorMessage,
                @DAYID AS DayId,
                @STATUS AS CurrentStatus;
            RETURN;
        END
        
        --================================================
        -- STEP 2: Calculate evaluation metrics
        --================================================
        
        -- Calculate completion percentage
        SET @COMPLETIONPERCENTAGE = CASE 
            WHEN @TOTALREQUIRED > 0 THEN 
                CAST(@COMPLETED AS DECIMAL(5,2)) / @TOTALREQUIRED * 100
            ELSE 0
        END;
        
        -- Get missing rule IDs and domains
        SELECT 
            @MISSINGRULEIDS = STRING_AGG(CAST(RULEID AS NVARCHAR), ','),
            @MISSEDDOMAINS = STRING_AGG(DOMAINTYPE, ',')
        FROM DAILY_EXECUTION.dbo.DAYCHECKLISTITEM
        WHERE DAYID = @DAYID
          AND ISCOMPLETED = 0;
        
        -- Set failure reason if failed
        IF @RESULT = 'FAIL'
        BEGIN
            SET @FAILUREREASON = 
                'Incomplete: ' + 
                CAST((@TOTALREQUIRED - @COMPLETED) AS NVARCHAR) + 
                ' of ' + 
                CAST(@TOTALREQUIRED AS NVARCHAR) + 
                ' rules not completed';
        END
        
        --================================================
        -- STEP 3: Calculate streaks
        --================================================
        
        -- Get or create user streak record
        IF NOT EXISTS (SELECT 1 FROM USERSTREAK WHERE USERID = @USERID)
        BEGIN
            INSERT INTO USERSTREAK (
                USERID,
                CURRENTSTREAK,
                LONGESTSTREAK,
                CONSECUTIVEFAILURES,
                TOTALPASSDAYS,
                TOTALFAILDAYS,
                TOTALDAYS,
                SUCCESSRATE,
                LASTUPDATED
            )
            VALUES (
                @USERID,
                0,
                0,
                0,
                0,
                0,
                0,
                0.00,
                SYSUTCDATETIME()
            );
        END
        
        -- Get current streak data
        SELECT 
            @CURRENTSTREAK = CURRENTSTREAK,
            @LONGESTSTREAK = LONGESTSTREAK,
            @CONSECUTIVEFAILURES = CONSECUTIVEFAILURES,
            @TOTALPASSDAYS = TOTALPASSDAYS,
            @TOTALFAILDAYS = TOTALFAILDAYS,
            @TOTALDAYS = TOTALDAYS,
            @PREVIOUSRESULT = CASE 
                WHEN LASTPASSDATE > LASTFAILDATE THEN 'PASS'
                WHEN LASTFAILDATE > LASTPASSDATE THEN 'FAIL'
                ELSE NULL
            END
        FROM USERSTREAK
        WHERE USERID = @USERID;
        
        SET @PREVIOUSSTREAK = @CURRENTSTREAK;
        
        -- Update streak based on result
        IF @RESULT = 'PASS'
        BEGIN
            -- Increment current streak
            SET @CURRENTSTREAK = @CURRENTSTREAK + 1;
            SET @CONSECUTIVEFAILURES = 0;
            SET @TOTALPASSDAYS = @TOTALPASSDAYS + 1;
            
            -- Check if new longest streak
            IF @CURRENTSTREAK > @LONGESTSTREAK
            BEGIN
                SET @LONGESTSTREAK = @CURRENTSTREAK;
                SET @ISNEWRECORD = 1;
            END
            
            -- Update user streak table
            UPDATE USERSTREAK
            SET 
                CURRENTSTREAK = @CURRENTSTREAK,
                LONGESTSTREAK = @LONGESTSTREAK,
                CONSECUTIVEFAILURES = 0,
                LASTPASSDATE = @DAYDATE,
                TOTALPASSDAYS = @TOTALPASSDAYS,
                TOTALDAYS = @TOTALDAYS + 1,
                SUCCESSRATE = CAST((@TOTALPASSDAYS + 1) AS DECIMAL(5,2)) / (@TOTALDAYS + 1) * 100,
                LASTUPDATED = SYSUTCDATETIME(),
                LONGESTSTREAKENDDATE = CASE 
                    WHEN @ISNEWRECORD = 1 THEN @DAYDATE
                    ELSE LONGESTSTREAKENDDATE
                END,
                LONGESTSTREAKSTARTDATE = CASE
                    WHEN @ISNEWRECORD = 1 THEN DATEADD(DAY, -@CURRENTSTREAK + 1, @DAYDATE)
                    ELSE LONGESTSTREAKSTARTDATE
                END
            WHERE USERID = @USERID;
        END
        ELSE -- FAIL
        BEGIN
            -- Reset current streak
            SET @CURRENTSTREAK = 0;
            SET @CONSECUTIVEFAILURES = @CONSECUTIVEFAILURES + 1;
            SET @TOTALFAILDAYS = @TOTALFAILDAYS + 1;
            
            -- Update user streak table
            UPDATE USERSTREAK
            SET 
                CURRENTSTREAK = 0,
                CONSECUTIVEFAILURES = @CONSECUTIVEFAILURES,
                LASTFAILDATE = @DAYDATE,
                TOTALFAILDAYS = @TOTALFAILDAYS,
                TOTALDAYS = @TOTALDAYS + 1,
                SUCCESSRATE = CAST(@TOTALPASSDAYS AS DECIMAL(5,2)) / (@TOTALDAYS + 1) * 100,
                LASTUPDATED = SYSUTCDATETIME()
            WHERE USERID = @USERID;
        END
        
        -- Update total counts
        SET @TOTALDAYS = @TOTALDAYS + 1;
        SET @SUCCESSRATE = CAST((@TOTALPASSDAYS + CASE WHEN @RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / @TOTALDAYS * 100;
        
        --================================================
        -- STEP 4: Check for mode changes
        --================================================
        
        -- Check for MINIMUM MODE trigger (3+ consecutive failures in STANDARD)
        IF @CONSECUTIVEFAILURES >= 2 AND @MODE = 'STANDARD'
        BEGIN
            SET @MINIMUMMODETRIGGERED = 1;
            SET @MINIMUMMODEREASON = CAST(@CONSECUTIVEFAILURES AS NVARCHAR) + ' consecutive failures detected';
            
            -- Log mode change history
            INSERT INTO MODECHANGEHISTORY (
                USERID,
                PREVIOUSMODE,
                NEWMODE,
                CHANGEREASON,
                CHANGEDAT,
                TRIGGERINGDAYID,
                CONSECUTIVEFAILURESATCHANGE,
                SCHEDULERNOTIFIED,
                EFFECTIVEDATE,
                CREATEDDATE
            )
            VALUES (
                @USERID,
                'STANDARD',
                'MINIMUM',
                'FAILURE_THRESHOLD',
                SYSUTCDATETIME(),
                @DAYID,
                @CONSECUTIVEFAILURES,
                1, -- Will notify scheduler
                DATEADD(DAY, 1, @DAYDATE), -- Effective next day
                SYSUTCDATETIME()
            );
            
            SET @MODECHANGEID = SCOPE_IDENTITY();
        END
        
        -- Check for RECOVERY (3+ consecutive passes in MINIMUM)
        IF @CURRENTSTREAK >= 2 AND @MODE = 'MINIMUM'
        BEGIN
            SET @RECOVERYMODETRIGGERED = 1;
            
            -- Log mode change history
            INSERT INTO MODECHANGEHISTORY (
                USERID,
                PREVIOUSMODE,
                NEWMODE,
                CHANGEREASON,
                CHANGEDAT,
                TRIGGERINGDAYID,
                CONSECUTIVEFAILURESATCHANGE,
                SCHEDULERNOTIFIED,
                EFFECTIVEDATE,
                CREATEDDATE
            )
            VALUES (
                @USERID,
                'MINIMUM',
                'STANDARD',
                'RECOVERY',
                SYSUTCDATETIME(),
                @DAYID,
                0, -- No failures at recovery
                1, -- Will notify scheduler
                DATEADD(DAY, 1, @DAYDATE), -- Effective next day
                SYSUTCDATETIME()
            );
            
            SET @MODECHANGEID = SCOPE_IDENTITY();
        END
        
        --================================================
        -- STEP 5: Insert evaluation audit record
        --================================================
        INSERT INTO DAYEVALUATIONAUDIT (
            DAYID,
            USERID,
            DAYDATE,
            DAYNUMBER,
            EVALUATEDAT,
            RESULT,
            TOTALREQUIREDRULES,
            COMPLETEDRULES,
            COMPLETIONPERCENTAGE,
            MISSINGRULEIDS,
            MISSEDDOMAINS,
            EVALUATIONMODE,
            FAILUREREASON,
            RULESETVERSION,
            EVALUATIONDURATIONMS,
            PREVIOUSRESULT,
            CONSECUTIVEFAILURES,
            CURRENTSTREAK,
            CREATEDDATE
        )
        VALUES (
            @DAYID,
            @USERID,
            @DAYDATE,
            @DAYNUMBER,
            @EVALUATEDAT,
            @RESULT,
            @TOTALREQUIRED,
            @COMPLETED,
            @COMPLETIONPERCENTAGE,
            @MISSINGRULEIDS,
            @MISSEDDOMAINS,
            @MODE,
            @FAILUREREASON,
            @RULESETVERSION,
            NULL, -- Will be calculated at end
            @PREVIOUSRESULT,
            @CONSECUTIVEFAILURES,
            @CURRENTSTREAK,
            SYSUTCDATETIME()
        );
        
        SET @EVALUATIONID = SCOPE_IDENTITY();
        
        --================================================
        -- STEP 6: Calculate total duration and update
        --================================================
        DECLARE @TOTALDURATION INT = DATEDIFF(MILLISECOND, @STARTTIME, SYSUTCDATETIME());
        DECLARE @CALCULATIONDURATION INT = @TOTALDURATION - @APICALLDURATION;
        
        UPDATE DAYEVALUATIONAUDIT
        SET EVALUATIONDURATIONMS = @TOTALDURATION
        WHERE EVALUATIONID = @EVALUATIONID;
        
        --================================================
        -- RETURN SUCCESS RESULT SETS
        --================================================
        
        -- Result Set 1: Status
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Result Set 2: Evaluation details
        SELECT
            @EVALUATIONID AS EvaluationId,
            @DAYID AS DayId,
            @USERID AS UserId,
            @DAYDATE AS DayDate,
            @DAYNUMBER AS DayNumber,
            @RESULT AS Result,
            @EVALUATEDAT AS EvaluatedAt,
            @MODE AS Mode,
            @TOTALREQUIRED AS TotalRequired,
            @COMPLETED AS Completed,
            @COMPLETIONPERCENTAGE AS CompletionPercentage,
            @MISSINGRULEIDS AS MissedRuleIds,
            @MISSEDDOMAINS AS MissedDomains,
            @FAILUREREASON AS FailureReason;
        
        -- Result Set 3: Streak information
        SELECT
            @CURRENTSTREAK AS CurrentStreak,
            @LONGESTSTREAK AS LongestStreak,
            @ISNEWRECORD AS IsNewRecord,
            @CONSECUTIVEFAILURES AS ConsecutiveFailures,
            @PREVIOUSSTREAK AS PreviousStreak,
            @DAYDATE AS StreakDate;
        
        -- Result Set 4: Analytics
        SELECT
            @TOTALDAYS AS TotalDays,
            @TOTALPASSDAYS AS TotalPasses,
            @TOTALFAILDAYS AS TotalFails,
            @SUCCESSRATE AS SuccessRate;
        
        -- Result Set 5: Actions
        SELECT
            @MINIMUMMODETRIGGERED AS MinimumModeTriggered,
            @MINIMUMMODEREASON AS MinimumModeReason,
            @RECOVERYMODETRIGGERED AS RecoveryModeTriggered,
            @MODECHANGEID AS ModeChangeId;
        
        -- Result Set 6: Performance metrics
        SELECT
            @TOTALDURATION AS EvaluationDurationMs,
            @APICALLDURATION AS ApiCallsMs,
            @CALCULATIONDURATION AS CalculationMs;
        
        -- Result Set 7: Week performance (last 7 days)
        SELECT
            SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS WeekPasses,
            SUM(CASE WHEN RESULT = 'FAIL' THEN 1 ELSE 0 END) AS WeekFails,
            COUNT(*) AS WeekTotal,
            CASE 
                WHEN COUNT(*) > 0 THEN 
                    CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
                ELSE 0
            END AS WeekSuccessRate
        FROM DAYEVALUATIONAUDIT
        WHERE USERID = @USERID
          AND DAYDATE >= DATEADD(DAY, -6, @DAYDATE)
          AND DAYDATE <= @DAYDATE;
        
    END TRY
    BEGIN CATCH
        -- Return error
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MODE_CHANGE_HISTORY]    Script Date: 17-07-2026 14:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_MODE_CHANGE_HISTORY]
(
    @USERID INT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CURRENTMODE NVARCHAR(20);
    DECLARE @CURRENTSTREAK INT;
    DECLARE @CONSECUTIVEFAILURES INT;
    DECLARE @LASTMODECHANGE DATE;
    
    --================================================
    -- VALIDATION: Check if user exists
    --================================================
    IF NOT EXISTS (SELECT 1 FROM USERSTREAK WHERE USERID = @USERID)
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'USER_NOT_FOUND' AS ErrorType,
            'User not found in streak tracking' AS ErrorMessage,
            @USERID AS UserId;
        RETURN;
    END
    
    --================================================
    -- Get current mode and streak info
    --================================================
    SELECT 
        @CURRENTSTREAK = CURRENTSTREAK,
        @CONSECUTIVEFAILURES = CONSECUTIVEFAILURES
    FROM USERSTREAK
    WHERE USERID = @USERID;
    
    -- Get current mode from most recent evaluation
    SELECT TOP 1
        @CURRENTMODE = EVALUATIONMODE
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
    ORDER BY DAYDATE DESC;
    
    -- If no evaluations yet, default to STANDARD
    IF @CURRENTMODE IS NULL
        SET @CURRENTMODE = 'STANDARD';
    
    -- Get last mode change date
    SELECT TOP 1
        @LASTMODECHANGE = EFFECTIVEDATE
    FROM MODECHANGEHISTORY
    WHERE USERID = @USERID
    ORDER BY CHANGEDAT DESC;
    
    --================================================
    -- RESULT SET 1: Current Status
    --================================================
    SELECT
        @USERID AS UserId,
        @CURRENTMODE AS CurrentMode,
        @CURRENTSTREAK AS CurrentStreak,
        @CONSECUTIVEFAILURES AS ConsecutiveFailures,
        @LASTMODECHANGE AS LastModeChangeDate,
        CASE 
            WHEN @CURRENTMODE = 'MINIMUM' AND @CURRENTSTREAK >= 3 THEN 1
            ELSE 0
        END AS ReadyForRecovery,
        CASE 
            WHEN @CURRENTMODE = 'STANDARD' AND @CONSECUTIVEFAILURES >= 3 THEN 1
            ELSE 0
        END AS InMinimumModeThreshold;
    
    --================================================
    -- RESULT SET 2: Mode Change History
    --================================================
    SELECT
        MODECHANGEID,
        USERID,
        PREVIOUSMODE,
        NEWMODE,
        CHANGEREASON,
        CHANGEDAT,
        TRIGGERINGDAYID,
        CONSECUTIVEFAILURESATCHANGE,
        SCHEDULERNOTIFIED,
        EFFECTIVEDATE,
        CREATEDDATE
    FROM MODECHANGEHISTORY
    WHERE USERID = @USERID
    ORDER BY CHANGEDAT DESC;
    
    --================================================
    -- RESULT SET 3: Mode Distribution Stats
    --================================================
    SELECT
        EVALUATIONMODE AS Mode,
        COUNT(*) AS TotalDays,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS PassedDays,
        SUM(CASE WHEN RESULT = 'FAIL' THEN 1 ELSE 0 END) AS FailedDays,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate,
        MIN(DAYDATE) AS FirstDay,
        MAX(DAYDATE) AS LastDay
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
    GROUP BY EVALUATIONMODE;
    
    --================================================
    -- RESULT SET 4: Recent Mode Periods
    --================================================
    -- Calculate continuous periods in each mode
    WITH ModeChanges AS (
        SELECT
            EFFECTIVEDATE AS ChangeDate,
            NEWMODE AS Mode,
            LEAD(EFFECTIVEDATE) OVER (ORDER BY EFFECTIVEDATE) AS NextChangeDate
        FROM MODECHANGEHISTORY
        WHERE USERID = @USERID
    )
    SELECT
        Mode,
        ChangeDate AS StartDate,
        CASE 
            WHEN NextChangeDate IS NULL THEN 
                (SELECT MAX(DAYDATE) FROM DAYEVALUATIONAUDIT WHERE USERID = @USERID)
            ELSE DATEADD(DAY, -1, NextChangeDate)
        END AS EndDate,
        DATEDIFF(DAY, ChangeDate, 
            CASE 
                WHEN NextChangeDate IS NULL THEN 
                    (SELECT MAX(DAYDATE) FROM DAYEVALUATIONAUDIT WHERE USERID = @USERID)
                ELSE DATEADD(DAY, -1, NextChangeDate)
            END
        ) + 1 AS DaysInMode
    FROM ModeChanges
    ORDER BY ChangeDate DESC;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OVERALL_STATISTICS]    Script Date: 17-07-2026 14:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_OVERALL_STATISTICS]
(
    @USERID INT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @STARTDATE DATE;
    DECLARE @ENDDATE DATE;
    DECLARE @TOTALDAYS INT;
    
    --================================================
    -- VALIDATION: Check if user exists
    --================================================
    IF NOT EXISTS (SELECT 1 FROM USERSTREAK WHERE USERID = @USERID)
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'USER_NOT_FOUND' AS ErrorType,
            'User not found in streak tracking' AS ErrorMessage,
            @USERID AS UserId;
        RETURN;
    END
    
    --================================================
    -- Get date range
    --================================================
    SELECT 
        @STARTDATE = MIN(DAYDATE),
        @ENDDATE = MAX(DAYDATE),
        @TOTALDAYS = COUNT(*)
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID;
    
    --================================================
    -- RESULT SET 1: Period Information
    --================================================
    SELECT
        @USERID AS UserId,
        @STARTDATE AS StartDate,
        @ENDDATE AS EndDate,
        @TOTALDAYS AS TotalDays;
    
    --================================================
    -- RESULT SET 2: Overall Performance
    --================================================
    SELECT
        COUNT(*) AS TotalDays,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS PassedDays,
        SUM(CASE WHEN RESULT = 'FAIL' THEN 1 ELSE 0 END) AS FailedDays,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate,
        CASE 
            WHEN COUNT(*) > 0 THEN
                AVG(COMPLETIONPERCENTAGE)
            ELSE 0
        END AS AverageCompletionRate
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID;
    
    --================================================
    -- RESULT SET 3: Streak Summary
    --================================================
    SELECT
        CURRENTSTREAK AS CurrentStreak,
        LONGESTSTREAK AS LongestStreak,
        TOTALPASSDAYS,
        TOTALFAILDAYS
    FROM USERSTREAK
    WHERE USERID = @USERID;
    
		  --================================================
		-- RESULT SET 4: Calculate Average Streak Length
		--================================================
		WITH StreakGroups AS (
			SELECT 
				DAYDATE,
				RESULT,
				DATEADD(DAY, 
						-ROW_NUMBER() OVER (PARTITION BY RESULT ORDER BY DAYDATE), 
						DAYDATE) AS StreakGroup
			FROM DAYEVALUATIONAUDIT
			WHERE USERID = @USERID
		),
		Streaks AS (
			SELECT
				COUNT(*) AS Days
			FROM StreakGroups
			WHERE RESULT = 'PASS'
			GROUP BY StreakGroup
		)
		SELECT
			CASE 
				WHEN COUNT(*) > 0 THEN AVG(CAST(Days AS DECIMAL(5,2)))
				ELSE 0
			END AS AverageStreakLength,
			COUNT(*) AS TotalStreaks
		FROM Streaks
		WHERE Days >= 1;
    
    --================================================
    -- RESULT SET 5: Mode Distribution
    --================================================
    SELECT
        EVALUATIONMODE AS Mode,
        COUNT(*) AS Days,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS Passes,
        SUM(CASE WHEN RESULT = 'FAIL' THEN 1 ELSE 0 END) AS Fails,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
    GROUP BY EVALUATIONMODE;
    
    --================================================
    -- RESULT SET 6: Domain Performance
    --================================================
    SELECT 
        DM.DOMAINTYPE,
        DM.DOMAINEMOJI,
        COUNT(*) AS TotalAttempts,
        SUM(CASE WHEN CI.ISCOMPLETED = 1 THEN 1 ELSE 0 END) AS Completed,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN CI.ISCOMPLETED = 1 THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS CompletionRate,
        ROW_NUMBER() OVER (ORDER BY 
            CAST(SUM(CASE WHEN CI.ISCOMPLETED = 1 THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) DESC
        ) AS Rank
    FROM DAILY_EXECUTION.dbo.DAYCHECKLISTITEM CI
    INNER JOIN DAILY_EXECUTION.dbo.USERDAY UD 
        ON CI.DAYID = UD.DAYID
    LEFT JOIN RULE_MANAGEMENT.dbo.DOMAIN_MASTER DM
        ON CI.DOMAINTYPE = DM.DOMAINTYPE
    WHERE UD.USERID = @USERID
      AND UD.STATUS = 'CLOSED'
    GROUP BY DM.DOMAINTYPE, DM.DOMAINEMOJI
    ORDER BY CompletionRate DESC;
    
    --================================================
    -- RESULT SET 7: Last 7 Days Trend
    --================================================
    SELECT
        COUNT(*) AS Days,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS Passes,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND DAYDATE >= DATEADD(DAY, -6, @ENDDATE)
      AND DAYDATE <= @ENDDATE;
    
    --================================================
    -- RESULT SET 8: Last 30 Days Trend
    --================================================
    SELECT
        COUNT(*) AS Days,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS Passes,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND DAYDATE >= DATEADD(DAY, -29, @ENDDATE)
      AND DAYDATE <= @ENDDATE;
    
    --================================================
    -- RESULT SET 9: Achievements (Streak Milestones)
    --================================================
    SELECT DISTINCT
        'STREAK_MILESTONE' AS Type,
        CAST(CURRENTSTREAK AS NVARCHAR) + '-Day Streak' AS Title,
        DAYDATE AS AchievedDate,
        'Longest streak achieved' AS Description
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND RESULT = 'PASS'
      AND CURRENTSTREAK IN (3, 5, 7, 10, 14, 21, 30, 50, 100)
    ORDER BY AchievedDate DESC;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_STREAK_STATISTICS]    Script Date: 17-07-2026 14:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_STREAK_STATISTICS]
(
    @USERID INT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CURRENTSTREAK INT;
    DECLARE @LONGESTSTREAK INT;
    DECLARE @LONGESTSTREAKSTART DATE;
    DECLARE @LONGESTSTREAKEND DATE;
    DECLARE @CONSECUTIVEFAILURES INT;
    DECLARE @LASTPASSDATE DATE;
    DECLARE @LASTFAILDATE DATE;
    DECLARE @TOTALPASSDAYS INT;
    DECLARE @TOTALFAILDAYS INT;
    DECLARE @TOTALDAYS INT;
    DECLARE @SUCCESSRATE DECIMAL(5,2);
    
    --================================================
    -- VALIDATION: Check if user exists
    --================================================
    IF NOT EXISTS (SELECT 1 FROM USERSTREAK WHERE USERID = @USERID)
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'USER_NOT_FOUND' AS ErrorType,
            'User not found in streak tracking' AS ErrorMessage,
            @USERID AS UserId;
        RETURN;
    END
    
    --================================================
    -- RESULT SET 1: Current Streak Summary
    --================================================
    SELECT
        @USERID AS UserId,
        CURRENTSTREAK AS CurrentStreak,
        LONGESTSTREAK AS LongestStreak,
        LONGESTSTREAKSTARTDATE AS LongestStreakStartDate,
        LONGESTSTREAKENDDATE AS LongestStreakEndDate,
        CONSECUTIVEFAILURES AS ConsecutiveFailures,
        LASTPASSDATE AS LastPassDate,
        LASTFAILDATE AS LastFailDate,
        TOTALPASSDAYS AS TotalPassDays,
        TOTALFAILDAYS AS TotalFailDays,
        TOTALDAYS AS TotalDays,
        SUCCESSRATE AS SuccessRate,
        LASTUPDATED AS LastUpdated
    FROM USERSTREAK
    WHERE USERID = @USERID;
    
    -- Store values for later use
    SELECT 
        @CURRENTSTREAK = CURRENTSTREAK,
        @LONGESTSTREAK = LONGESTSTREAK,
        @LONGESTSTREAKSTART = LONGESTSTREAKSTARTDATE,
        @LONGESTSTREAKEND = LONGESTSTREAKENDDATE,
        @CONSECUTIVEFAILURES = CONSECUTIVEFAILURES,
        @LASTPASSDATE = LASTPASSDATE,
        @LASTFAILDATE = LASTFAILDATE,
        @TOTALPASSDAYS = TOTALPASSDAYS,
        @TOTALFAILDAYS = TOTALFAILDAYS,
        @TOTALDAYS = TOTALDAYS,
        @SUCCESSRATE = SUCCESSRATE
    FROM USERSTREAK
    WHERE USERID = @USERID;
    
    --================================================
    -- RESULT SET 2: Achieved Milestones
    --================================================
    -- Calculate which milestones have been achieved
    -- Standard milestones: 3, 5, 7, 10, 14, 21, 30, 50, 100
    
    DECLARE @Milestones TABLE (
        Milestone INT,
        AchievedDate DATE,
        Label NVARCHAR(50)
    );
    
    -- Find achieved milestones from historical data
    -- A milestone is achieved when the streak reaches that exact number
    INSERT INTO @Milestones (Milestone, AchievedDate, Label)
    SELECT DISTINCT
        CASE 
            WHEN CURRENTSTREAK >= 3 THEN 3
            WHEN CURRENTSTREAK >= 5 THEN 5
            WHEN CURRENTSTREAK >= 7 THEN 7
            WHEN CURRENTSTREAK >= 10 THEN 10
            WHEN CURRENTSTREAK >= 14 THEN 14
            WHEN CURRENTSTREAK >= 21 THEN 21
            WHEN CURRENTSTREAK >= 30 THEN 30
            WHEN CURRENTSTREAK >= 50 THEN 50
            WHEN CURRENTSTREAK >= 100 THEN 100
        END AS Milestone,
        DAYDATE AS AchievedDate,
        CASE 
            WHEN CURRENTSTREAK >= 3 THEN '3-day streak'
            WHEN CURRENTSTREAK >= 5 THEN '5-day streak'
            WHEN CURRENTSTREAK >= 7 THEN '7-day streak'
            WHEN CURRENTSTREAK >= 10 THEN '10-day streak'
            WHEN CURRENTSTREAK >= 14 THEN '14-day streak'
            WHEN CURRENTSTREAK >= 21 THEN '21-day streak'
            WHEN CURRENTSTREAK >= 30 THEN '30-day streak'
            WHEN CURRENTSTREAK >= 50 THEN '50-day streak'
            WHEN CURRENTSTREAK >= 100 THEN '100-day streak'
        END AS Label
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND RESULT = 'PASS'
      AND CURRENTSTREAK IN (3, 5, 7, 10, 14, 21, 30, 50, 100)
    ORDER BY Milestone DESC;
    
    SELECT 
        Milestone,
        AchievedDate,
        Label
    FROM @Milestones
    ORDER BY Milestone DESC;
    
    --================================================
    -- RESULT SET 3: Next Milestone
    --================================================
    DECLARE @NextMilestone INT;
    DECLARE @DaysAway INT;
    
    -- Determine next milestone
    SELECT @NextMilestone = 
        CASE
            WHEN @CURRENTSTREAK < 3 THEN 3
            WHEN @CURRENTSTREAK < 5 THEN 5
            WHEN @CURRENTSTREAK < 7 THEN 7
            WHEN @CURRENTSTREAK < 10 THEN 10
            WHEN @CURRENTSTREAK < 14 THEN 14
            WHEN @CURRENTSTREAK < 21 THEN 21
            WHEN @CURRENTSTREAK < 30 THEN 30
            WHEN @CURRENTSTREAK < 50 THEN 50
            WHEN @CURRENTSTREAK < 100 THEN 100
            ELSE 100 + ((@CURRENTSTREAK - 100) / 50 + 1) * 50  -- Every 50 after 100
        END;
    
    SET @DaysAway = @NextMilestone - @CURRENTSTREAK;
    
    SELECT
        @NextMilestone AS Milestone,
        @DaysAway AS DaysAway,
        CAST(@NextMilestone AS NVARCHAR) + '-day streak' AS Label;
    
    --================================================
    -- RESULT SET 4: Recent Streaks (last 5)
    --================================================
    -- Calculate streaks from historical data
    WITH StreakGroups AS (
        SELECT 
            DAYDATE,
            RESULT,
            DATEADD(DAY, -ROW_NUMBER() OVER (PARTITION BY RESULT ORDER BY DAYDATE), DAYDATE) AS StreakGroup
        FROM DAYEVALUATIONAUDIT
        WHERE USERID = @USERID
    ),
    Streaks AS (
        SELECT
            MIN(DAYDATE) AS StartDate,
            MAX(DAYDATE) AS EndDate,
            COUNT(*) AS Days,
            CASE 
                WHEN MAX(DAYDATE) = (SELECT MAX(DAYDATE) FROM DAYEVALUATIONAUDIT WHERE USERID = @USERID AND RESULT = 'PASS')
                    AND RESULT = 'PASS'
                THEN 'ACTIVE'
                ELSE 'COMPLETED'
            END AS Status
        FROM StreakGroups
        WHERE RESULT = 'PASS'
        GROUP BY StreakGroup, RESULT
    )
    SELECT TOP 5
        StartDate,
        CASE WHEN Status = 'ACTIVE' THEN NULL ELSE EndDate END AS EndDate,
        Days,
        Status
    FROM Streaks
    WHERE Days >= 1  -- Only include actual streaks
    ORDER BY StartDate DESC;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_WEEK_STATISTICS]    Script Date: 17-07-2026 14:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_WEEK_STATISTICS]
(
    @USERID INT,
    @WEEKSTARTDATE DATE
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @WEEKENDDATE DATE = DATEADD(DAY, 6, @WEEKSTARTDATE);
    DECLARE @CURRENTSTREAK INT;
    
    --================================================
    -- VALIDATION: Check if user exists
    --================================================
    IF NOT EXISTS (SELECT 1 FROM USERSTREAK WHERE USERID = @USERID)
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'USER_NOT_FOUND' AS ErrorType,
            'User not found in streak tracking' AS ErrorMessage,
            @USERID AS UserId;
        RETURN;
    END
    
    --================================================
    -- Get current streak for context
    --================================================
    SELECT @CURRENTSTREAK = CURRENTSTREAK
    FROM USERSTREAK
    WHERE USERID = @USERID;
    
    --================================================
    -- RESULT SET 1: Week Summary
    --================================================
    SELECT
        @USERID AS UserId,
        @WEEKSTARTDATE AS WeekStartDate,
        @WEEKENDDATE AS WeekEndDate,
        COUNT(*) AS TotalDays,
        SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS PassedDays,
        SUM(CASE WHEN RESULT = 'FAIL' THEN 1 ELSE 0 END) AS FailedDays,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN RESULT = 'PASS' THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS SuccessRate,
        @CURRENTSTREAK AS CurrentStreak
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND DAYDATE >= @WEEKSTARTDATE
      AND DAYDATE <= @WEEKENDDATE;
    
    --================================================
    -- RESULT SET 2: Daily Breakdown
    --================================================
    SELECT
        DEA.DAYDATE AS Date,
        DEA.DAYNUMBER AS DayNumber,
        DEA.RESULT AS Result,
        DEA.EVALUATIONMODE AS Mode,
        DEA.COMPLETIONPERCENTAGE AS CompletionRate,
        DEA.COMPLETEDRULES AS Completed,
        DEA.TOTALREQUIREDRULES AS Total,
        DEA.MISSEDDOMAINS AS MissedDomains,
        DEA.EVALUATEDAT AS EvaluatedAt
    FROM DAYEVALUATIONAUDIT DEA
    WHERE DEA.USERID = @USERID
      AND DEA.DAYDATE >= @WEEKSTARTDATE
      AND DEA.DAYDATE <= @WEEKENDDATE
    ORDER BY DEA.DAYDATE ASC;
    
    --================================================
    -- RESULT SET 3: Domain Performance
    --================================================
    -- We need to get domain completion from Daily Execution Service
    -- This query aggregates from DAYEVALUATIONAUDIT and joins with domain data
    
    -- First, create a temp table with all possible domains
    DECLARE @DomainStats TABLE (
        DomainType NVARCHAR(50),
        DomainEmoji NVARCHAR(10),
        Completed INT,
        Total INT,
        CompletionRate DECIMAL(5,2)
    );
    
    -- Get domain performance by querying Daily Execution database
    -- For each day in the week, count domain completions
    INSERT INTO @DomainStats (DomainType, DomainEmoji, Completed, Total, CompletionRate)
    SELECT 
        DM.DOMAINTYPE,
        DM.DOMAINEMOJI,
        SUM(CASE 
            WHEN CI.ISCOMPLETED = 1 THEN 1 
            ELSE 0 
        END) AS Completed,
        COUNT(*) AS Total,
        CASE 
            WHEN COUNT(*) > 0 THEN
                CAST(SUM(CASE WHEN CI.ISCOMPLETED = 1 THEN 1 ELSE 0 END) AS DECIMAL(5,2)) / COUNT(*) * 100
            ELSE 0
        END AS CompletionRate
    FROM DAILY_EXECUTION.dbo.DAYCHECKLISTITEM CI
    INNER JOIN DAILY_EXECUTION.dbo.USERDAY UD 
        ON CI.DAYID = UD.DAYID
    LEFT JOIN RULE_MANAGEMENT.dbo.DOMAIN_MASTER DM
        ON CI.DOMAINTYPE = DM.DOMAINTYPE
    WHERE UD.USERID = @USERID
      AND UD.DAYDATE >= @WEEKSTARTDATE
      AND UD.DAYDATE <= @WEEKENDDATE
      AND UD.STATUS = 'CLOSED'
    GROUP BY DM.DOMAINTYPE, DM.DOMAINEMOJI;
    
    -- Return domain stats
    SELECT 
        DomainType,
        DomainEmoji,
        Completed,
        Total,
        CompletionRate
    FROM @DomainStats
    ORDER BY CompletionRate DESC;
    
    --================================================
    -- RESULT SET 4: Week Pattern (Visual)
    --================================================
    SELECT
        STRING_AGG(
            CASE WHEN RESULT = 'PASS' THEN N'✓' ELSE N'✗' END,
            ' '
        ) WITHIN GROUP (ORDER BY DAYDATE ASC) AS Pattern
    FROM DAYEVALUATIONAUDIT
    WHERE USERID = @USERID
      AND DAYDATE >= @WEEKSTARTDATE
      AND DAYDATE <= @WEEKENDDATE;
    
END
GO
