USE [DISCIPLINE_RULE_ENGINE]
GO
/****** Object:  Table [dbo].[DAYEVALUATIONAUDIT]    Script Date: 17-07-2026 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAYEVALUATIONAUDIT](
	[EVALUATIONID] [int] IDENTITY(1,1) NOT NULL,
	[DAYID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[DAYDATE] [date] NOT NULL,
	[DAYNUMBER] [int] NOT NULL,
	[EVALUATEDAT] [datetime2](7) NOT NULL,
	[RESULT] [nvarchar](10) NOT NULL,
	[TOTALREQUIREDRULES] [int] NOT NULL,
	[COMPLETEDRULES] [int] NOT NULL,
	[COMPLETIONPERCENTAGE] [decimal](5, 2) NOT NULL,
	[MISSINGRULEIDS] [nvarchar](max) NULL,
	[MISSEDDOMAINS] [nvarchar](200) NULL,
	[EVALUATIONMODE] [nvarchar](20) NOT NULL,
	[FAILUREREASON] [nvarchar](500) NULL,
	[RULESETVERSION] [int] NOT NULL,
	[EVALUATIONDURATIONMS] [int] NULL,
	[PREVIOUSRESULT] [nvarchar](10) NULL,
	[CONSECUTIVEFAILURES] [int] NULL,
	[CURRENTSTREAK] [int] NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EVALUATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DAYEVAL_DAYID] UNIQUE NONCLUSTERED 
(
	[DAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMAINPERFORMANCE]    Script Date: 17-07-2026 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMAINPERFORMANCE](
	[PERFORMANCEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[DOMAINTYPE] [nvarchar](50) NOT NULL,
	[WEEKSTARTDATE] [date] NOT NULL,
	[WEEKENDDATE] [date] NOT NULL,
	[TOTALDAYS] [int] NOT NULL,
	[COMPLETEDDAYS] [int] NOT NULL,
	[COMPLETIONRATE] [decimal](5, 2) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PERFORMANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DOMAINPERF_USER_DOMAIN_WEEK] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[DOMAINTYPE] ASC,
	[WEEKSTARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODECHANGEHISTORY]    Script Date: 17-07-2026 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODECHANGEHISTORY](
	[MODECHANGEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[PREVIOUSMODE] [nvarchar](20) NOT NULL,
	[NEWMODE] [nvarchar](20) NOT NULL,
	[CHANGEREASON] [nvarchar](50) NOT NULL,
	[CHANGEDAT] [datetime2](7) NOT NULL,
	[TRIGGERINGDAYID] [int] NOT NULL,
	[CONSECUTIVEFAILURESATCHANGE] [int] NOT NULL,
	[SCHEDULERNOTIFIED] [bit] NOT NULL,
	[EFFECTIVEDATE] [date] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MODECHANGEHISTORY] PRIMARY KEY CLUSTERED 
(
	[MODECHANGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERSTREAK]    Script Date: 17-07-2026 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERSTREAK](
	[STREAKID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[CURRENTSTREAK] [int] NOT NULL,
	[LONGESTSTREAK] [int] NOT NULL,
	[LONGESTSTREAKSTARTDATE] [date] NULL,
	[LONGESTSTREAKENDDATE] [date] NULL,
	[CONSECUTIVEFAILURES] [int] NOT NULL,
	[LASTPASSDATE] [date] NULL,
	[LASTFAILDATE] [date] NULL,
	[TOTALPASSDAYS] [int] NOT NULL,
	[TOTALFAILDAYS] [int] NOT NULL,
	[TOTALDAYS] [int] NOT NULL,
	[SUCCESSRATE] [decimal](5, 2) NOT NULL,
	[LASTUPDATED] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STREAKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USERSTREAK_USERID] UNIQUE NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAYEVALUATIONAUDIT] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[DOMAINPERFORMANCE] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] ADD  DEFAULT (sysutcdatetime()) FOR [CHANGEDAT]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] ADD  DEFAULT ((0)) FOR [SCHEDULERNOTIFIED]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [CURRENTSTREAK]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [LONGESTSTREAK]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [CONSECUTIVEFAILURES]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [TOTALPASSDAYS]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [TOTALFAILDAYS]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0)) FOR [TOTALDAYS]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT ((0.00)) FOR [SUCCESSRATE]
GO
ALTER TABLE [dbo].[USERSTREAK] ADD  DEFAULT (sysutcdatetime()) FOR [LASTUPDATED]
GO
ALTER TABLE [dbo].[DAYEVALUATIONAUDIT]  WITH CHECK ADD  CONSTRAINT [CHK_DAYEVAL_MODE] CHECK  (([EVALUATIONMODE]='MINIMUM' OR [EVALUATIONMODE]='STANDARD'))
GO
ALTER TABLE [dbo].[DAYEVALUATIONAUDIT] CHECK CONSTRAINT [CHK_DAYEVAL_MODE]
GO
ALTER TABLE [dbo].[DAYEVALUATIONAUDIT]  WITH CHECK ADD  CONSTRAINT [CHK_DAYEVAL_RESULT] CHECK  (([RESULT]='FAIL' OR [RESULT]='PASS'))
GO
ALTER TABLE [dbo].[DAYEVALUATIONAUDIT] CHECK CONSTRAINT [CHK_DAYEVAL_RESULT]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CHK_MODECHANGE_DIFFERENT_MODES] CHECK  (([PREVIOUSMODE]<>[NEWMODE]))
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] CHECK CONSTRAINT [CHK_MODECHANGE_DIFFERENT_MODES]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CHK_MODECHANGE_NEWMODE] CHECK  (([NEWMODE]='MINIMUM' OR [NEWMODE]='STANDARD'))
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] CHECK CONSTRAINT [CHK_MODECHANGE_NEWMODE]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CHK_MODECHANGE_PREVIOUSMODE] CHECK  (([PREVIOUSMODE]='MINIMUM' OR [PREVIOUSMODE]='STANDARD'))
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] CHECK CONSTRAINT [CHK_MODECHANGE_PREVIOUSMODE]
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY]  WITH CHECK ADD  CONSTRAINT [CHK_MODECHANGE_REASON] CHECK  (([CHANGEREASON]='MANUAL' OR [CHANGEREASON]='RECOVERY' OR [CHANGEREASON]='FAILURE_THRESHOLD'))
GO
ALTER TABLE [dbo].[MODECHANGEHISTORY] CHECK CONSTRAINT [CHK_MODECHANGE_REASON]
GO
